<?xml version="1.0"?>
<ruleset name="Ropemark Image Marking for the EU AI Act">
	<description>WordPress coding standards for Ropemark Image Marking for the EU AI Act.</description>
	<file>.</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<arg value="sp"/>
	<arg name="extensions" value="php"/>
	<config name="minimum_supported_wp_version" value="6.1"/>
	<config name="testVersion" value="7.4-"/>
	<rule ref="WordPress">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="ropemark-image-marking-for-eu-ai-act"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="ropemark"/>
				<element value="Ropemark"/>
			</property>
		</properties>
	</rule>
</ruleset>
